* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 80px;
    background-color: rgb(39, 114, 175);
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 30%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-weight: bold;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13;
    border-radius: 3px;
    text-transform: uppercase;
}

.active ul:hover {
    background: #f39d1a;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    ul {
        position: absolute;
        top: 0.1%;
        left: 54%;
        color: teal;
    }
    nav ul li {
        padding-right: 50px;
    }
    nav ul li a {
        font-size: 20px;
    }
    .active ul:hover {
        background-color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
}

.droneimg {
    width: 370px;
    height: +230px;
    position: absolute;
    top: 61%;
    left: 5%;
}

.history {
    position: absolute;
    width: 370px;
    height: 300px;
    left: 5%;
    top: 237%;
}

.morden-history {
    position: absolute;
    width: 350px;
    height: 450px;
    left: 5%;
    top: 370%;
}

.anotomy {
    position: absolute;
    width: 360px;
    height: 470px;
    left: 2%;
    top: 600px;
}

.a1 {
    position: absolute;
    width: 400px;
    height: 300px;
    left: 2%;
    top: 175%;
}

.fl {
    position: absolute;
    width: 470px;
    height: 330px;
    left: 4%;
    top: 160%;
}

.working {
    position: absolute;
    width: 400px;
    height: 330px;
    left: 3%;
    top: 350%;
}

.wk {
    position: absolute;
    width: 470px;
    height: 330px;
    left: 840px;
    top: 1600px;
}

.use1 {
    position: absolute;
    width: 360px;
    height: 280px;
    left: 4%;
    top: 440%;
}

.use2 {
    position: absolute;
    width: 360px;
    height: 280px;
    left: 4%;
    top: 400%;
}

.use3 {
    position: absolute;
    width: 360px;
    height: 280px;
    left: 4%;
    top: 482%;
}

.multimot1 {
    position: absolute;
    width: 380px;
    height: 200px;
    left: 60px;
    top: 510px;
}

.multimot2 {
    position: absolute;
    width: 380px;
    height: 200px;
    left: 474px;
    top: 510px;
}

.fixedwing1 {
    position: absolute;
    width: 380px;
    height: 200px;
    left: 60px;
    top: 1320px;
}

.fixedwing2 {
    position: absolute;
    width: 380px;
    height: 200px;
    left: 474px;
    top: 1320px;
}

.singlerotor1 {
    position: absolute;
    width: 380px;
    height: 200px;
    left: 60px;
    top: 2110px;
}

.singlerotor2 {
    position: absolute;
    width: 380px;
    height: 200px;
    left: 474px;
    top: 2110px;
}

.hybrid2 {
    position: absolute;
    width: 380px;
    height: 200px;
    left: 60px;
    top: 2780px;
}

.hybrid1 {
    position: absolute;
    width: 380px;
    height: 200px;
    left: 474px;
    top: 2780px;
}

.volocoptor {
    position: absolute;
    width: 380px;
    height: 230px;
    left: 4%;
    top: 20%;
}

.hexacoptor {
    position: absolute;
    width: 380px;
    height: 230px;
    left: 4%;
    top: 114%;
}

.ppk {
    position: absolute;
    width: 380px;
    height: 200px;
    left: 4%;
    top: 20%;
}

.parrot {
    position: absolute;
    width: 380px;
    height: 200px;
    left: 4%;
    top: 110%;
}

.mono {
    position: absolute;
    width: 380px;
    height: 230px;
    left: 4%;
    top: 20%;
}

.hybrid {
    position: absolute;
    width: 380px;
    height: 230px;
    left: 4%;
    top: 114%;
}

.quan {
    position: absolute;
    width: 380px;
    height: 250px;
    left: 4%;
    top: 23%;
}

.crashed {
    position: absolute;
    width: 380px;
    height: 300px;
    left: 4%;
    top: 160px;
}