*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #0005;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
   

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
   

.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 37px;
    font-weight: 100;
}
.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 30px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    transition: 0.8s all;
}

.navigation li:hover{
    background-color: #f39d1a;
}

.droneimg{
    position: absolute;
    width: 470px;
height: +330px;
left: 750px;
top: 140px;
}
.history{
    position: absolute;
    width: 620px;
    height: 400px;
    right: 650px;
    top: 900px;
}
.morden-history{
    position: absolute;
    width: 320px;
    height: 450px;
    right: 960px;
    top: 1610px;
}
.anotomy{
    position: absolute;
    width: 430px;
height: 470px;
left: 860px;
top: 140px;
}
.a1{
    position: absolute;
    width: 470px;
height: 330px;
left: 100px;
top: 630px;   
}
.fl{
    position: absolute;
    width: 470px;
height: 330px;
left: 750px;
top: 630px; 
}
.working{
    position: absolute;
    width: 470px;
height: 330px;
left: 840px;
top: 1150px; 
}
.wk{
    position: absolute;
    width: 470px;
height: 330px;
left: 840px;
top: 1600px; 
}
.use1{
    position: absolute;
    width: 360px;
height: 280px;
right: 930px;
top: 3080px; 
}
.use2{
    position: absolute;
    width: 360px;
height: 280px;
right: 500px;
top: 3080px; 
}
.use3{
    position: absolute;
    width: 360px;
height: 280px;
right: 70px;
top: 3080px; 
}
.multimot1{
    position: absolute;
    width: 380px;
height: 200px;
left: 60px;
top: 510px;  
}
.multimot2{
    position: absolute;
    width: 380px;
height: 200px;
left: 474px;
top: 510px;  
}
.fixedwing1{
    position: absolute;
    width: 380px;
height: 200px;
left: 60px;
top: 1320px;  
}
.fixedwing2{
    position: absolute;
    width: 380px;
height: 200px;
left: 474px;
top: 1320px;  
}
.singlerotor1{
    position: absolute;
    width: 380px;
height: 200px;
left: 60px;
top: 2110px;  
}
.singlerotor2{
    position: absolute;
    width: 380px;
height: 200px;
left: 474px;
top: 2110px; 
}
.hybrid2{
    position: absolute;
    width: 380px;
height: 200px;
left: 60px;
top: 2780px;
}
.hybrid1{
    position: absolute;
    width: 380px;
height: 200px;
left: 474px;
top: 2780px;
}
.volocoptor{
    position: absolute;
    width: 380px;
height: 230px;
left: 860px;
top: 90px;
}
.hexacoptor{
    position: absolute;
    width: 380px;
height: 230px;
left: 860px;
top: 360px;
}
.ppk{
    position: absolute;
    width: 380px;
height: 230px;
left: 880px;
top: 90px;
}
.parrot{
    position: absolute;
    width: 380px;
height: 230px;
left: 880px;
top: 370px;
}
.mono{
    position: absolute;
    width: 380px;
height: 230px;
left: 880px;
top: 90px;
}
.hybrid{
    position: absolute;
    width: 380px;
height: 230px;
left: 880px;
top: 370px;
}
.quan{
    position: absolute;
    width: 400px;
height: 250px;
left: 900px;
top: 100px;
}
.crashed{
    position: absolute;
    width: 800px;
height: 430px;
left: 50px;
top: 160px;
}


