* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 80px;
    background-color: rgb(39, 114, 175);
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 80px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 7px;
    font-weight: bold;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.active li:hover {
    background-color: #f39d1a;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.my_button {
    width: 100px;
    height: 50px;
    font-size: 25px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
    align-content: left;
    text-align: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 55px;
    left: 3%;
    top: 445px;
    background: #416ad3;
    border-radius: 7px;
    transition: 6s;
    overflow: hidden;
}

.my_button:hover {
    background-color: #f39d1a;
}

h1.text1 {
    position: absolute;
    top: 43%;
    left: 3%;
    transform: translateX();
    text-align: left;
    font-family: cursive;
    display: block;
    background-color: #0003;
    border-radius: 5px;
}

h2.text2 {
    position: absolute;
    top: 51%;
    left: 3%;
    transform: translateX();
    text-align: left;
    font-family: cursive;
    display: block;
    background-color: #0003;
    border-radius: 5px;
}

h1.text3 {
    position: absolute;
    top: 57%;
    left: 3%;
    transform: translateX();
    text-align: left;
    font-family: cursive;
    display: block;
    background-color: #0003;
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .my_button {
        display: block;
    }
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .my_button {
        display: block;
    }
    .my_button {
        width: 100px;
        height: 50px;
        font-size: 25px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        color: white;
        align-content: left;
        text-align: center;
        align-items: center;
        position: absolute;
        width: 200px;
        height: 55px;
        left: 3%;
        top: 400px;
        background: #416ad3;
        border-radius: 7px;
        transition: 6s;
        overflow: hidden;
    }
    h1.text1 {
        position: absolute;
        top: 49%;
        left: 3%;
        transform: translateX();
        text-align: left;
        font-family: cursive;
        display: block;
        background-color: #0003;
        border-radius: 5px;
        font-size: 23px;
    }
    h2.text2 {
        position: absolute;
        top: 55%;
        left: 3%;
        transform: translateX();
        text-align: left;
        font-family: cursive;
        display: block;
        background-color: #0003;
        border-radius: 5px;
        font-size: 21px;
    }
    h1.text3 {
        position: absolute;
        top: 60.4%;
        left: 3%;
        transform: translateX();
        text-align: left;
        font-family: cursive;
        display: block;
        background-color: #0003;
        border-radius: 5px;
        font-size: 23px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height: 20px;
    }
    nav ul li a {
        font-size: 20px;
    }
    .active li:hover {
        background-color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
    .my_button {
        display: none;
    }
    h1.text1 {
        display: none;
    }
    h2.text2 {
        display: none;
    }
    h1.text3 {
        display: none;
    }
    label.logo {
        color: white;
        font-size: 30px;
        line-height: 80px;
        padding: 0 40px;
        font-weight: bold;
    }
}

section {
    background: url(Drone-industry.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    background-position: center;
}

.btn {
    width: 100px;
    height: 50px;
    font-size: 25px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    align-content: left;
    text-align: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 55px;
    left: 25%;
    top: 600px;
    border-radius: 7px;
    overflow: hidden;
    color: #2c3e50;
}

.btn:hover {
    color: #2c3e50;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: -o-linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

@viewport {
    zoom: 1;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1;
}